.searched-user-container {
  background-color: #55417b;
  padding: 1rem 2.5rem;
  margin: 2rem 5rem 5rem 5rem;
  color: #fff;
  border-radius: 0.5rem;

  h1 {
    padding: 0.5rem 0;
  }

  .user-info {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 7rem;
      border-radius: 0.5rem;
      border: 5px solid white;
      margin-right: 2rem;
    }

    h1 {
      font-size: 1.5rem;
    }
  }
}
